# Exploring the Kaggle Titanic Dataset

For this exploration, I will explore various attributes of the titanic dataset provided by kaggle. The "codebook" for this dataset can be found [here](https://www.kaggle.com/c/titanic/data?train.csv).

In [6]:
#getting setup for the exploration

import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

titanic_data = pd.read_csv('data/train.csv', dtype={'Age':np.float64})
test_data = pd.read_csv('data/test.csv', dtype={'Age':np.float64})

# titanic_data.head()
# test_data.head()

print 'Data from the Titanic CSV'
titanic_data.info()
print '----------------------'
print 'Data from the Test CSV'
test_data.info()

Data from the Titanic CSV
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB
----------------------
Data from the Test CSV
<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 39.2+ KB

The train (titanic) data set includes information about whether an individual survived. The test data set does not (this is the data set that we should be running prediction models on later). For the purposes of this exercise, I will focus primarily on analyzing the titanic data set to best compare survivability with a variety of factors.