# Importing all the things!

In [24]:
import pandas as pd

 # Data Quest Tutorial
 These next few cells are me following the data quest tutorial for the titanic dataset.

In [25]:
# We can use the pandas library in python to read in the csv file.
# This creates a pandas dataframe and assigns it to the titanic variable.
titanic = pd.read_csv("./data/train.csv")

# Print the first 5 rows of the dataframe.
print(titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Now, we're filling in missing data by just replacing all the missing data with the mean value. Is this really something that you can do? Is this okay? It feels wrong to me, because you'd be skewing the data even more heavily to the median. If we have to fill in the data, wouldn't it be better to fill it in with something that contains noise?

In [30]:
# The titanic variable is available here.
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())

Now, we want to recode the sex column so that it's a number, and not a string.

In [31]:
# Find all the unique genders -- the column appears to contain only male and female.
print(titanic["Sex"].unique())

# Replace all the occurences of male with the number 0.
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

[0 1]

Doing the same thing witht the embarked column. Again, I'm very unsure that it's "okay" to just replace missing values with the most common value. Couldn't that confuse our model?

In [32]:
# Find all the unique values for "Embarked".
print(titanic["Embarked"].unique())

titanic["Embarked"] = titanic["Embarked"].fillna("S")
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

[0 1 2]

/Users/Sophia/anaconda/lib/python2.7/site-packages/pandas/core/ops.py:680: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

Now that we've cleaned up our data, let's move on to machine learning!

In [33]:
# Import the linear regression class
from sklearn.linear_model import LinearRegression
# Sklearn also has a helper that makes it easy to do cross validation
from sklearn.cross_validation import KFold

# The columns we'll use to predict the target
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm class
alg = LinearRegression()
# Generate cross validation folds for the titanic dataset.  It return the row indices corresponding to train and test.
# We set random_state to ensure we get the same splits every time we run this.
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)

predictions = []
for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (titanic[predictors].iloc[train,:])
    # The target we're using to train the algorithm.
    train_target = titanic["Survived"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

Now that we've made some predictions, we want to evaluate them!

In [34]:
import numpy as np

# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.
predictions = np.concatenate(predictions, axis=0)

# Map predictions to outcomes (only possible outcomes are 1 and 0)
predictions[predictions > .5] = 1
predictions[predictions <=.5] = 0

accuracy = sum([predictions[i] == titanic["Survived"].tolist()[i] for i in range(len(predictions))])/float(len(predictions))
print "accuracy: " + str(accuracy)

accuracy: 0.783389450056

Okay, so now we're, as per the tutorial, trying logistic regression. I believe that this helps us actually classify things, instead of predicting on a scale from 0 to 1.

In [35]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression

# Initialize our algorithm
alg = LogisticRegression(random_state=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)
# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.787878787879

Now, we actually want to make predictions on the test data provided to us by Kaggle!

First, let's load in and clean up the data.

In [37]:
titanic_test = pd.read_csv("./data/test.csv")

#Set age values to the median age in the training set
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())

#Recode the sex
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1

#Fill in the missing values are recode the point of embarkation
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")
titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

#Fill in missing fare values
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic["Fare"].median())

Now, we are making a prediction! This will have accuracty of about 0.75, but we'll work on this in future iterations!

In [38]:
# Initialize the algorithm class
alg = LogisticRegression(random_state=1)

# Train the algorithm using all the training data
alg.fit(titanic[predictors], titanic["Survived"])

# Make predictions using the test set.
predictions = alg.predict(titanic_test[predictors])

# Create a new dataframe with only the columns Kaggle wants from the dataset.
submission = pd.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })

submission.to_csv("kaggle.csv", index=False)

Indeed, my model had a score 0.75120 wen I uploaded it to Kaggle

# Model Iteration 1
For this iteration, I'll switch from away from encoding the port that people embarked on as numbers and increase (0 for S, 1 for Q and 2 for C). The reason that I am doing this is that we are finding weights for each column. If we encode things like the port where someone embarked as a number that increases, we might falsely give the model the impression that these numbers are increasing, and then embarking with number 2 means that someone embarked twice as much (whatever that means...) as someone that has embarked 1. To do this, I will transition to one-hot encoding. This means that I will add columns "EmbarkedS", "EmbarkedC", and "EmbarkedQ". These columns will have have a 1 in them if a person embarked at that respective port and 0 otherwise. 

(I tried two different variations of this model, one where I filled in the NaN values for Embarked and one where I didn't)

In [39]:
titanic_it1 = pd.read_csv("./data/train.csv")

print(titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare    Embarked
count  891.000000  891.000000  891.000000
mean     0.381594   32.204208    0.361392
std      0.806057   49.693429    0.635673
min      0.000000    0.000000    0.000000
25%      0.000000    7.910400    0.000000
50%      0.000000   14.454200    0.000000
75%      0.000000   31.000000    1.000000
max      6.000000  512.329200    2.000000

Here, I'm going to recode the Sex and Embarked columns.

In [40]:
# The titanic variable is available here.
titanic_it1["Age"] = titanic_it1["Age"].fillna(titanic_it1["Age"].median())

#Recode the sex
titanic_it1.loc[titanic_it1["Sex"] == "male", "Sex"] = 0
titanic_it1.loc[titanic_it1["Sex"] == "female", "Sex"] = 1

#Recode the Port where people Embarked
titanic_it1["Embarked"] = titanic_it1["Embarked"].fillna("S")
titanic_it1['EmbarkedS'] = titanic_it1['Embarked'].apply(lambda x: int(x == 'S'))
titanic_it1['EmbarkedC'] = titanic_it1['Embarked'].apply(lambda x: int(x == 'C'))
titanic_it1['EmbarkedQ'] = titanic_it1['Embarked'].apply(lambda x: int(x == 'Q'))

Here, I'm just checking to see that my recoding worked by showing the description of the dataframe.

In [41]:
titanic_it1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,EmbarkedS,EmbarkedC,EmbarkedQ
0,1,0,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7.2500,NaN,S,1,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38,1,0,PC 17599,71.2833,C85,C,0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35,1,0,113803,53.1000,C123,S,1,0,0
4,5,0,3,"Allen, Mr. William Henry",0,35,0,0,373450,8.0500,NaN,S,1,0,0
5,6,0,3,"Moran, Mr. James",0,28,0,0,330877,8.4583,NaN,Q,0,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",0,54,0,0,17463,51.8625,E46,S,1,0,0
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2,3,1,349909,21.0750,NaN,S,1,0,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27,0,2,347742,11.1333,NaN,S,1,0,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14,1,0,237736,30.0708,NaN,C,0,1,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4,1,1,PP 9549,16.7000,G6,S,1,0,0
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58,0,0,113783,26.5500,C103,S,1,0,0
12,13,0,3,"Saundercock, Mr. William Henry",0,20,0,0,A/5. 2151,8.0500,NaN,S,1,0,0
13,14,0,3,"Andersson, Mr. Anders Johan",0,39,1,5,347082,31.2750,NaN,S,1,0,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14,0,0,350406,7.8542,NaN,S,1,0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55,0,0,248706,16.0000,NaN,S,1,0,0
16,17,0,3,"Rice, Master. Eugene",0,2,4,1,382652,29.1250,NaN,Q,0,0,1
17,18,1,2,"Williams, Mr. Charles Eugene",0,28,0,0,244373,13.0000,NaN,S,1,0,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31,1,0,345763,18.0000,NaN,S,1,0,0
19,20,1,3,"Masselmani, Mrs. Fatima",1,28,0,0,2649,7.2250,NaN,C,0,1,0
20,21,0,2,"Fynney, Mr. Joseph J",0,35,0,0,239865,26.0000,NaN,S,1,0,0
21,22,1,2,"Beesley, Mr. Lawrence",0,34,0,0,248698,13.0000,D56,S,1,0,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15,0,0,330923,8.0292,NaN,Q,0,0,1
23,24,1,1,"Sloper, Mr. William Thompson",0,28,0,0,113788,35.5000,A6,S,1,0,0
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8,3,1,349909,21.0750,NaN,S,1,0,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38,1,5,347077,31.3875,NaN,S,1,0,0
26,27,0,3,"Emir, Mr. Farred Chehab",0,28,0,0,2631,7.2250,NaN,C,0,1,0
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19,3,2,19950,263.0000,C23 C25 C27,S,1,0,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,28,0,0,330959,7.8792,NaN,Q,0,0,1
29,30,0,3,"Todoroff, Mr. Lalio",0,28,0,0,349216,7.8958,NaN,S,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,21,1,0,28134,11.5000,NaN,S,1,0,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48,0,0,17466,25.9292,D17,S,1,0,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,28,8,2,CA. 2343,69.5500,NaN,S,1,0,0
864,865,0,2,"Gill, Mr. John William",0,24,0,0,233866,13.0000,NaN,S,1,0,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,42,0,0,236852,13.0000,NaN,S,1,0,0
866,867,1,2,"Duran y More, Miss. Asuncion",1,27,1,0,SC/PARIS 2149,13.8583,NaN,C,0,1,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31,0,0,PC 17590,50.4958,A24,S,1,0,0
868,869,0,3,"van Melkebeke, Mr. Philemon",0,28,0,0,345777,9.5000,NaN,S,1,0,0
869,870,1,3,"Johnson, Master. Harold Theodor",0,4,1,1,347742,11.1333,NaN,S,1,0,0
870,871,0,3,"Balkic, Mr. Cerin",0,26,0,0,349248,7.8958,NaN,S,1,0,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47,1,1,11751,52.5542,D35,S,1,0,0
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33,0,0,695,5.0000,B51 B53 B55,S,1,0,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,47,0,0,345765,9.0000,NaN,S,1,0,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28,1,0,P/PP 3381,24.0000,NaN,C,0,1,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15,0,0,2667,7.2250,NaN,C,0,1,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20,0,0,7534,9.8458,NaN,S,1,0,0
877,878,0,3,"Petroff, Mr. Nedelio",0,19,0,0,349212,7.8958,NaN,S,1,0,0
878,879,0,3,"Laleff, Mr. Kristo",0,28,0,0,349217,7.8958,NaN,S,1,0,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56,0,1,11767,83.1583,C50,C,0,1,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25,0,1,230433,26.0000,NaN,S,1,0,0
881,882,0,3,"Markun, Mr. Johann",0,33,0,0,349257,7.8958,NaN,S,1,0,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22,0,0,7552,10.5167,NaN,S,1,0,0
883,884,0,2,"Banfield, Mr. Frederick James",0,28,0,0,C.A./SOTON 34068,10.5000,NaN,S,1,0,0
884,885,0,3,"Sutehall, Mr. Henry Jr",0,25,0,0,SOTON/OQ 392076,7.0500,NaN,S,1,0,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39,0,5,382652,29.1250,NaN,Q,0,0,1
886,887,0,2,"Montvila, Rev. Juozas",0,27,0,0,211536,13.0000,NaN,S,1,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19,0,0,112053,30.0000,B42,S,1,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,28,1,2,W./C. 6607,23.4500,NaN,S,1,0,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26,0,0,111369,30.0000,C148,C,0,1,0
890,891,0,3,"Dooley, Mr. Patrick",0,32,0,0,370376,7.7500,NaN,Q,0,0,1

In [42]:
# The columns we'll use to predict the target
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "EmbarkedS", "EmbarkedC", "EmbarkedQ"]

# Initialize our algorithm class
alg = LogisticRegression()
# Generate cross validation folds for the titanic dataset.  It return the row indices corresponding to train and test.
# We set random_state to ensure we get the same splits every time we run this.
kf = KFold(titanic_it1.shape[0], n_folds=3, random_state=1)

predictions = []
for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (titanic_it1[predictors].iloc[train,:])
    # The target we're using to train the algorithm.
    train_target = titanic_it1["Survived"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(titanic_it1[predictors].iloc[test,:])
    predictions.append(test_predictions)
    
# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.
predictions = np.concatenate(predictions, axis=0)
    
accuracy = sum([predictions[i] == titanic_it1["Survived"].tolist()[i] for i in range(len(predictions))])/float(len(predictions))
print "accuracy: " + str(accuracy)

accuracy: 0.786756453423

Okay, so my training accuracy here is a little better then before -- now I get around 78.7 percent when I test on the training set, so I'm going to try another submission to Kaggle. 

Below, I'll generate my submission file for Kaggle

First, I need to recode the data in the same way.

In [43]:
titanic_test_it1 = pd.read_csv("./data/test.csv")

#Set age values to the median age in the training set
titanic_test_it1["Age"] = titanic_test_it1["Age"].fillna(titanic_it1["Age"].median())

#Recode the sex
titanic_test_it1.loc[titanic_test_it1["Sex"] == "male", "Sex"] = 0
titanic_test_it1.loc[titanic_test_it1["Sex"] == "female", "Sex"] = 1

#Fill in the missing values are recode the point of embarkation
titanic_test_it1['EmbarkedS'] = titanic_test_it1['Embarked'].apply(lambda x: int(x == 'S'))
titanic_test_it1['EmbarkedC'] = titanic_test_it1['Embarked'].apply(lambda x: int(x == 'C'))
titanic_test_it1['EmbarkedQ'] = titanic_test_it1['Embarked'].apply(lambda x: int(x == 'Q'))

#Fill in missing fare values
titanic_test_it1["Fare"] = titanic_test_it1["Fare"].fillna(titanic_it1["Fare"].median())

In [44]:
# Initialize the algorithm class
alg = LogisticRegression(random_state=1)

# Train the algorithm using all the training data
alg.fit(titanic_it1[predictors], titanic_it1["Survived"])

# Make predictions using the test set.
predictions = alg.predict(titanic_test_it1[predictors])

# Create a new dataframe with only the columns Kaggle wants from the dataset.
submission = pd.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })

submission.to_csv("kaggle_it1_5.csv", index=False)

When I submitted this model the first time, I got a score of 0.74641 both times, intrestingly enough, which is worse than I did with the DataQuest model. Maybe this has something to do with the fact that I pulled out more columns for something that isn't all that important, and the model got confused.