Shivali Chandra <br>
First iteration of model for Titanic Kaggle dataset. <br>
1/27/16 <br>
Initial Score: 0.75120 <br>
Random forests Score: 0.7535 <br>
Adding more columns Score: 0.7799

First steps: load libraries used, read from training file and show basic statistics of file

In [46]:
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.cross_validation import KFold
from sklearn import cross_validation
import numpy as np

titanic = pd.read_csv("train.csv")
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Cleaning code, filling in NaN values and replacing text values with number codes:

In [47]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())

titanic.loc[titanic['Sex'] == 'male', 'Sex'] = 0
titanic.loc[titanic['Sex'] == 'female', 'Sex'] = 1

titanic['Embarked'] = titanic['Embarked'].fillna('S')
titanic.loc[titanic['Embarked'] == 'S', 'Embarked'] = 0
titanic.loc[titanic['Embarked'] == 'C', 'Embarked'] = 1
titanic.loc[titanic['Embarked'] == 'Q', 'Embarked'] = 2

Defining columns used to predict target, generating cross validation folds for the dataset (with random state set to ensure splits are the same every time), initializing predictors and target, training algorithm, and making predictions:

In [48]:
test = pd.read_csv('test.csv')
test['Age'] = test['Age'].fillna(titanic['Age'].median())

test.loc[test['Sex'] == 'male', 'Sex'] = 0
test.loc[test['Sex'] == 'female', 'Sex'] = 1

test['Embarked'] = test['Embarked'].fillna('S')
test.loc[test['Embarked'] == 'S', 'Embarked'] = 0
test.loc[test['Embarked'] == 'C', 'Embarked'] = 1
test.loc[test['Embarked'] == 'Q', 'Embarked'] = 2

test['Fare'] = test['Fare'].fillna(titanic['Fare'].median())

alg = LogisticRegression(random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic['Survived'], cv=3)
scores.mean()

0.78787878787878773

In [49]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

titanic['FamilySize'] = titanic['SibSp'] + titanic['Parch']
titanic['NameLength'] = titanic['Name'].apply(lambda x: len(x))
test['FamilySize'] = test['SibSp'] + test['Parch']
test['NameLength'] = test['Name'].apply(lambda x: len(x))

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm with the default paramters
# n_estimators is the number of trees we want to make
# min_samples_split is the minimum number of rows we need to make a split
# min_samples_leaf is the minimum number of samples we can have at the place where a tree branch ends (the bottom points of the tree)
alg = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=10, min_samples_leaf=5)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)

# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.819304152637

predictors = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

alg = LinearRegression()
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic['Survived'], cv=3)
scores.mean()

predictions = []
for train, test in kf:
    train_predictors = (titanic[predictors].iloc[train,:])
    train_target = titanic['Survived'].iloc[train]
    alg.fit(train_predictors, train_target)
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

Concatenating three prediction np arrays into one, and mapping the predictions to outcomes. Then, calculating the accuracy:

predictions = np.concatenate(predictions, axis=0)

predictions[predictions > 0.5] = 1
predictions[predictions <= 0.5] = 0

accuracy = sum(predictions[predictions == titanic['Survived']]) / len(predictions)

Computing accuracy score for all cross validation folds, and taking mean of scores

Cleaning test data. Filling missing NaN values and replacing text values with number codes:

Generating submission for competition - training algorithm, making predictions, and creating dataframe with the columns needed:

In [50]:
alg.fit(titanic[predictors], titanic['Survived'])

predictions = alg.predict(test[predictors])

submission = pd.DataFrame({
        'PassengerId': test['PassengerId'],
        'Survived': predictions
    })

In [51]:
submission.to_csv('kaggle.csv', index=False)